* {
  position: sticky;
  color: rgb(143, 143, 248);
}
body {
  background-color: lightblue;
}
.profile {

border-radius: 50%;
position:absolute;
text-align: right;
width: 200px;
height: 200px;
}
.links{
  text-align: left;
  color:pink;
}
.links:hover{
  color: gray;

}

a{
  box-shadow: 4px 12px;
  margin: 20px;
}
